{% extends 'todo/main.html' %}

{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}


{% block content %}

<div class="header-bar">
    <h1>Register</h1>
</div>
<div class="card-body">
    <form action="" method="post">
        {% csrf_token %}

        {% if form.errors %}
        <ul class="errorlist">
            {% for field in form %}
            {% if field.errors %}
            <li>{{ field.label }}:
                <ul class="errorlist">
                    {% for error in field.errors %}
                    <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            </li>
            {% endif %}
            {% endfor %}
        </ul>
        {% endif %}

        <label>{{ form.username.label }}</label>
        {{ form.username }}

        <label>{{ form.password1.label }}</label>
        {{ form.password1 }}

        <label>{{ form.password2.label }}</label>
        {{ form.password2 }}
        <br><br>
        <input class="button" type="submit" value="Register Now">

        <small><p>Have an account already? <a href="{% url 'login' %}">Login Now</a></p></small>
    </form>
</div>
{% endblock content %}